<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.IndexCategoryMapper">

	<resultMap type="IndexCategory" id="indexCategoryResultMap">
		<id column="indexcategoryId" property="id" />
		<association property="itemCategory" javaType="ItemCategory">
			<id column="id" property="id"/>
			<result column="name" property="name" />
			<result column="addtime" property="addtime" />
		</association>
	</resultMap>
	
	<select id="findItemCategoryList" resultMap="indexCategoryResultMap">
    	SELECT
			a.id,
			a.name,
			a.addtime,
			b.id indexcategoryId,
			b.itemCategory_id
		FROM
			itemcategory a
		LEFT JOIN indexcategory b ON a.id = b.itemCategory_id
		ORDER BY
			a.name
	</select>
	
	<resultMap type="IndexCategory" id="indexCategoryResultMap2">
		<id column="id" property="id" />
		<result column="itemCategoryId" property="itemCategoryId" />
		<association property="itemCategory" javaType="ItemCategory">
			<id column="itemCategoryId2" property="id" />
			<result column="itemcategoryName" property="name" />
			<result column="itemcategoryAddtime" property="addtime" />
			<collection property="itemCategoryDetails" ofType="ItemCategoryDetail">
				<id column="itemcategorydetailId" property="id" />
				<result column="itemcategorydetailName" property="name" />
				<result column="itemcategorydetailAddtime" property="addtime" />
			</collection>
		</association>
	</resultMap>
	
	<select id="findIndexCategoryList" resultMap="indexCategoryResultMap2">
    	SELECT
			a.id,a.itemCategory_id itemCategoryId,
			b.id itemCategoryId2,b.`name` itemcategoryName,b.addtime itemcategoryAddtime,
			c.id itemcategorydetailId,c.`name` itemcategorydetailName,c.addtime itemcategorydetailAddtime
		FROM
			indexcategory a
		LEFT JOIN itemcategory b ON a.itemCategory_id = b.id
		LEFT JOIN itemcategorydetail c on b.id = c.itemCategory_id
		ORDER BY
			a.id
	</select>
	
	<select id="findIndexCategory" resultType="IndexCategory">
		select id,itemCategory_id itemCategoryId from indexcategory where id=#{id}
	</select>
	
	<update id="updateItemcategory_id">  
        update indexcategory set itemcategory_id=null where id=#{id}    
	</update>
	
</mapper>
