<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.ItemCategoryMapper">

	<resultMap type="ItemCategory" id="itemCategoryResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="addtime" property="addtime" />
		<collection property="itemCategoryDetails" ofType="ItemCategoryDetail">
			<id column="itemCategoryDetail_id" property="id"/>
			<result column="itemCategoryDetail_name" property="name" />
			<result column="itemCategoryDetail_addtime" property="addtime" />
		</collection>
	</resultMap>
	
	<select id="findItemCategoryList" resultMap="itemCategoryResultMap">
    	SELECT 
    		ic.id,ic.name,ic.addtime,
    		icd.id itemCategoryDetail_id,icd.name itemCategoryDetail_name,icd.addtime itemCategoryDetail_addtimes
    	FROM 
    		itemcategory ic left join itemcategorydetail icd
    	on ic.id=icd.itemCategory_id
    	<where>
			<if test="id!=null and id!=''">
				and ic.id = #{id}
			</if>
		</where>
		order by ic.addtime asc
	</select>
	
	<select id="findItemCategoryListWrapper" resultType="ItemCategory">
    	SELECT 
    		ic.id,ic.name,ic.addtime
    	FROM 
    		itemcategory ic
    	<where>
  			${ew.sqlSegment}
  		</where>
	</select>
	
</mapper>
