<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.ItemMapper">

	<resultMap type="Item" id="itemResultMap">
		<id column="id" property="id" />
		<result column="itemDetailId" property="itemDetailId"/>
		<association property="itemDetail" javaType="ItemDetail" select="findItemDetailById" column="itemDetailId">
			<id column="id" property="id" />
		</association>
		<association property="itemCategoryDetail" javaType="ItemCategoryDetail" select="findItemCategoryDetailById" column="itemCategoryDetailId">
			<id column="id" property="id" />
		</association>
	</resultMap>
	
	<select id="findItemList" resultMap="itemResultMap">
		SELECT 
			id, name, price, brand, model, stock, picture, addtime, itemDetail_id itemDetailId, itemCategoryDetail_id itemCategoryDetailId
		FROM
			item
		<where>
				<if test="id!=null and id!=''">
					and id = #{id}
				</if>
		</where>
	</select>
	
	<select id="findItemListWrapper" resultMap="itemResultMap">
		SELECT 
			id, name, price, brand, model, stock, picture, addtime, itemDetail_id itemDetailId, itemCategoryDetail_id itemCategoryDetailId
		FROM
			item
		<where>
  			${ew.sqlSegment}
  		</where>
	</select>
	
	<select id="findItemDetailById" resultType="ItemDetail" parameterType="int">
		SELECT
			id, picture1, picture2, picture3, picture4, picture5, intro, chara, specifi, list, downname, download
		FROM
			itemDetail
		WHERE
			id = #{itemDetailId}
	</select>
	
	<select id="findItemCategoryDetailById" resultType="ItemCategoryDetail" parameterType="int">
		SELECT
			id, name, addtime
		FROM
			itemCategoryDetail
		WHERE
			id = #{itemCategoryDetailId}
	</select>
	
	<select id="findItemStock" resultType="java.lang.Integer">
		SELECT 
			stock
		FROM
			item
		WHERE
		 	id = #{id}
	</select>
	
</mapper>
