<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.ItemCategoryDetailMapper">

	<resultMap type="ItemCategoryDetail" id="itemCategoryDetailResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="addtime" property="addtime" />
		<association property="itemCategory" javaType="ItemCategory">
			<id column="itemCategoryId" property="id"/>
			<result column="itemCategoryName" property="name" />
			<result column="itemCategoryAddtime" property="addtime" />
		</association>
	</resultMap>
	
	<select id="findItemCategoryDetailList" resultMap="itemCategoryDetailResultMap">
    	SELECT 
    		icd.id,icd.name,icd.addtime,
    		ic.id itemCategoryId,ic.name itemCategoryName,ic.addtime itemCategoryAddtime
    	FROM 
    		itemcategorydetail icd left join itemcategory ic
    	on ic.id=icd.itemCategory_id
    	<where>
			<if test="id!=null and id!=''">
				and icd.id = #{id}
			</if>
		</where>
	</select>
	
</mapper>
