<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.OrdersMapper">

	<resultMap type="Orders" id="ordersResultMap">
		<id column="ordersId" property="id" />
		<result column="ordersPrice" property="price"/>
		<result column="no" property="no"/>
		<result column="state" property="state"/>
		<result column="pay" property="pay"/>
		<result column="courier" property="courier"/>
		<result column="addtime" property="addtime"/>
		<result column="name" property="name"/>
		<result column="phone" property="phone"/>
		<result column="addr" property="addr"/>
		<association property="user" javaType="User" select="findUserById" column="userId"></association>
		<!-- <collection property="orderItems" ofType="OrderItem" select="findOrderItemById" column="id">
			<association property="item" javaType="Item" select="findItemById" column="itemId">
				<association property="itemDetail" javaType="ItemDetail" 
					select="com.zhike.mapper.ItemMapper.findItemDetailById" column="itemDetailId">
				</association>
				<association property="itemCategoryDetail" javaType="ItemCategoryDetail" 
					select="com.zhike.mapper.ItemMapper.findItemCategoryDetailById" column="itemCategoryDetailId">
				</association>
			</association>
		</collection> -->
		<collection property="orderItems" ofType="OrderItem">
			<id column="orderItemId" property="id" />
			<result column="orderItemPrice" property="price"/>
			<result column="count" property="count"/>
			<result column="itemId" property="itemId"/>
			<association property="item" javaType="Item">
				<result column="itemName" property="name"/>
				<result column="itemPrice" property="price"/>
				<result column="itemPicture" property="picture"/>
			</association>
		</collection>
	</resultMap>
	
	<resultMap type="Orders" id="ordersAdminResultMap">
		<id column="id" property="id" />
		<association property="user" javaType="User" select="findUserById" column="userId">
			<id column="id" property="id" />
		</association>
		<collection property="orderItems" ofType="OrderItem" select="findOrderItemById" column="id">
			<id column="id" property="id" />
			<!-- <association property="item" javaType="Item" select="findItemById" column="itemId">
				<association property="itemDetail" javaType="ItemDetail" 
					select="com.zhike.mapper.ItemMapper.findItemDetailById" column="itemDetailId">
				</association>
				<association property="itemCategoryDetail" javaType="ItemCategoryDetail" 
					select="com.zhike.mapper.ItemMapper.findItemCategoryDetailById" column="itemCategoryDetailId">
				</association>
			</association> -->
		</collection>
	</resultMap>
	
	<select id="findOrdersListAdmin" resultMap="ordersAdminResultMap">
		SELECT
			id, no, price, state, pay, courier, addtime, user_id userId, name, phone, addr
		FROM
			orders
		<where>
				<if test="id!=null and id!=''">
					and id = #{id}
				</if>
				<if test="userId!=null and userId!=''">
					and userId = #{userId}
				</if>
				<if test="state!=null and state!=''">
					and state = #{state}
				</if>
				<if test="no!=null and no!=''">
					and no = #{no}
				</if>
		</where>
			order by addtime desc
	</select>
	
	<select id="findOrdersList" resultMap="ordersResultMap">
		SELECT
			orders.id ordersId, orders.no, orders.price ordersPrice, orders.state, orders.pay, orders.courier, orders.addtime,
			orders.user_id userId, orders.name, orders.phone, orders.addr,
			
			orderItem.id orderItemId, orderItem.count, orderItem.price orderItemPrice, orderItem.itemId,
			orderItem.orders_id orderItemOrdersId,
			
			item.name itemName,item.price itemPrice,item.picture itemPicture
		FROM
			orders LEFT JOIN orderItem on orders.id = orderItem.orders_id LEFT JOIN item on orderitem.item_id = item.id
		<where>
				<if test="id!=null and id!=''">
					and orders.id = #{id}
				</if>
				<if test="userId!=null and userId!=''">
					and orders.user_id = #{userId}
				</if>
				<if test="state!=null and state!=''">
					and orders.state = #{state}
				</if>
		</where>
			order by orders.addtime desc
	</select>
	
	<select id="findUserById" resultType="User">
		SELECT
			u.id,u.account,u.password,u.username,u.regtime
		FROM
			user u
		WHERE
			u.id = #{userId}
	</select>
	
	<select id="findOrderItemById" resultType="OrderItem" parameterType="int">
		SELECT 
			id, count, price, item_id itemId, orders_id ordersId
		FROM
			orderItem
		WHERE
			ordersId = #{id}
	</select>
	
	<!-- <select id="findOrderItemById" resultType="OrderItem" parameterType="int">
		SELECT 
			orderItem.*,item.name item_name,item.price item_price,item.picture item_picture
		FROM
			orderItem,item
		WHERE 
			orderitem.itemId = item.id
			and ordersId = #{id}
	</select> -->
	
</mapper>
