<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.PermissionMapper">

	<resultMap type="Permission" id="permissionResultMap">
		<id column="p_id" property="id" />
		<result column="p_name" property="name" />
		<result column="p_percode" property="percode" />
	</resultMap>
	
	<select id="findPermissionListByRole" resultMap="permissionResultMap">
		SELECT
			c.id p_id,c.name p_name,c.percode p_percode
		FROM
			role a
		INNER JOIN role_permission b ON a.id = b.role_id
		INNER JOIN permission c ON b.permission_id = c.id
		<where>
			<if test="name!=null and name!=''">
				and a.name = #{name}
			</if>
		</where>
	</select>
	
</mapper>
