<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.RoleMapper">

	<resultMap type="Role" id="roleResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
	</resultMap>
	
	<select id="findRoleListByUser" resultMap="roleResultMap">
		SELECT
			c.id,c.name
		FROM
			USER a
		INNER JOIN user_role b ON a.id = b.user_id
		INNER JOIN role c ON b.role_id = c.id
		<where>
			<if test="account!=null and account!=''">
				and account = #{account}
			</if>
		</where>
	</select>
	
</mapper>
