<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.UserShopMapper">

	<resultMap type="UserShop" id="userShopResultMap">
		<id column="id" property="id" />
		<result column="itemId" property="itemId"/>
		<association property="item" javaType="Item" select="findItemById" column="itemId">
			<id column="id" property="id" />
			<association property="itemDetail" javaType="ItemDetail" >
				<id column="itemDetailId" property="id" />
				<result column="itemdetailList" property="list"/>
			</association>
			<!-- <association property="itemDetail" javaType="com.zhike.model.ItemDetail" 
				select="com.zhike.mapper.ItemMapper.findItemDetailById" column="itemDetailId">
				<id column="id" property="itemDetailId" />
			</association>
			<association property="itemCategoryDetail" javaType="ItemCategoryDetail" 
				select="com.zhike.mapper.ItemMapper.findItemCategoryDetailById" column="itemCategoryDetailId">
			</association> -->
		</association>
	</resultMap>
	
	<select id="findUserShopList" resultMap="userShopResultMap">
		SELECT
			id, count, price, addtime, user_id userId, item_id itemId
		FROM
			usershop
		<where>
				<if test="id!=null and id!=''">
					and id = #{id}
				</if>
				<if test="userId!=null and userId!=''">
					and user_id = #{userId}
				</if>
				<if test="itemId!=null and itemId!=''">
					and item_id = #{itemId}
				</if>
		</where>
	</select>
	
	<!-- <select id="findItemById" resultType="Item">
		SELECT  
			id, name, price, brand, model, stock, picture, addtime, itemDetailId, itemCategoryDetailId
		FROM
			item
		WHERE
			id = #{itemId}
	</select> -->
	
	<select id="findItemById" resultType="Item">
		SELECT  
			item.*,itemdetail.id itemdetailId,itemdetail.list itemdetailList
		FROM
			item,itemdetail
		WHERE
			item.itemdetail_id = itemdetail.id
			and item.id = #{itemId}
	</select>
	
	<select id="findUserShopTotalByUserId" resultType="java.lang.String">
		select 
			truncate(sum(price),2)
		from 
			usershop
		where
			userId = #{userId}
	</select>
	
</mapper>
