<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wang.mapper.UserMapper">

	<resultMap type="User" id="userResultMap">
		<id column="id" property="id" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="username" property="username" />
		<result column="regtime" property="regtime" />
		<collection property="userAddrs" ofType="UserAddr" select="findUserAddrById" column="id">
			<id column="id" property="id" />
		</collection>
	</resultMap>
	
	<select id="findUserList" resultMap="userResultMap">
		SELECT
			u.id,u.account,u.password,u.username,u.regtime
		FROM
			user u
		<where>
				<if test="id!=null and id!=''">
					and u.id = #{id}
				</if>
				<if test="account!=null and account!=''">
					and u.account = #{account}
				</if>
				<if test="password!=null and password!=''">
					and u.password = #{password}
				</if>
		</where>
	</select>
	
	<!-- <select id="findUserById" resultMap="userResultMap" parameterType="int">
		SELECT
			u.id,u.account,u.password,u.username,u.regtime,u.phone,
			ur.id userAddr_id,
			ur.name userAddr_name,
			ur.addr userAddr_addr,
			ur.addtime userAddr_addtime,
			ur.phone userAddr_phone,
			ur.defaults userAddr_defaults,
			ur.post userAddr_post
		FROM
			user u,
			userAddr ur
		WHERE
			u.id = ur.user_id
			AND u.id = #{id}
	</select> -->
	
	<select id="findUserAddrById" resultType="UserAddr" parameterType="int">
		SELECT 
			id, name, addr, addtime, phone, defaults
		FROM
			userAddr
		WHERE
			user_id = #{id}
	</select>
	
</mapper>
