/*
CopyRight:DFrobot.com.cn 2017
Author:Fish,Luke
Content:Category
*/
#container .content .main .hot .hotIntro{background: #e16811;height: 30px;color: white;font-size: 16px;line-height: 30px;text-indent: 10px;font-weight: bold;}
#container .content .main .hot .line{height: 87%;width: 1px;background: #a0a0a0;float: left;margin-top: 19px;}
#container .content .main .hotCon{background: #ffffff;width: 100%;height: 317px;}
#container .content .main .hotCon .conMain{float: left;width: 241px;height: 297px;position: relative;}
#container .content .main .hotCon .conMain:hover .addCart{display: block;}
#container .content .main .hotCon .conMain:hover .price{display: none;}
#container .content .main .hotCon .conMain:hover del{display: none;}
#container .content .main .hotCon .line:nth-child(8){display: none;}
#container .content .main .hotCon .conMain .conImg{margin: 17px 0 0px 19px;display: block;width: 200px;}
#container .content .main .hotCon .conMain .conImg img{width: 200px; height: 200px;}
#container .content .main .hotCon .conMain .name{padding: 12px 19px 0 19px;font-size: 16px;display: block;overflow: hidden;height: 37px;}
#container .content .main .hotCon .conMain .price{padding: 10px 0 0 20px;}
#container .content .main .hotCon .conMain p .addCart{display: none;color: #ffffff;margin-left: 20px;background: #e16811;width: 200px;height: 25px;border-radius: 3px;line-height: 25px;text-align: center;/*margin: 0 auto;*/}
#container .content .main .hotCon .conMain .tprice{padding: 3px 0 0 0;position: absolute;top: 271px;}
#container .content .main .hotCon .conMain .price{font-size: 16px;line-height: 25px;color: #e16811;}
#container .content .main{width: 970px;/*height: 346px;*/}
#container .content .main .hot{border: solid 1px #e16811;margin-bottom: 15px;}
#container .content .main .conList{width: 100%;}
#container .resultFrame{font-size: 16px;margin-top: 10px;}
#container .resultFrame span{color: #e16811;}
#container .content .main .conList .box_3{position: relative;padding: 13px 19px;font-size: 16px;background: #ffffff;height: auto;}
#container .content .main .conList .box_3 .line{position: absolute;border: 1px #d4d4d4 dashed;width: 925px;margin: 10px 0;}
#container .content .main .conList .box_3 .screeBox{width: 100%;}
#container .content .main .conList .box_3 .screeBox b{font-weight: normal;display: block;float: left;width: 50px;}
#container .content .main .conList .box_3 .screeBox .list{float: right;width: 880px;}
#container .content .main .conList .box_3 .screeBox span{color: #337ab7;display: block;float: left;padding: 0 10px;height: 25px;}
#container .content .main .conList .box_3 .screeBox span:nth-child(1){}
#container .content .main .conList .box_3 .screeBox span .select{color: #337ab7;}
#container .content .main .conList .box_3 .priceBox{margin-top: 29px;}
#container .content .main .conList .box_3 .priceBox .lf{background: #FFFFFF;width: 70%;}
#container .content .main .conList .box_3 .priceBox .pl10{margin-top: -4px;background: #ffffff;}
#container .content .main .conList .box_3 .priceBox .pl10 input{border: solid 1px #dcdcdc;width: 59px;height: 27px;text-indent: 15px;}
#container .content .main .conList .box_3 .priceBox .pl10 input:hover{background: #eeeeee;}
#container .content .main .conList .box_3 .priceBox .pl10 span{display: initial;float: initial;padding: 0;}
#container .content .main .conList .box_3 .priceBox .pl10 span:before{content: "锟�";position: absolute;margin: 7px 0 0 2px;font-size: 14px;color: #313131;}
#container .content .main .conList .box_3 .priceBox .pl10 input:focus{outline:none;border: solid 1px #fd9326;}
#container .content .main .conList .box_3 .priceBox .pl10 input.submitbtn{color: #fffefe;background: #fd9326;height: 30px;border: none;width: 60px;text-indent: 0;cursor: pointer;margin-right: 4px;}
#container .content .main .conList .rankOp{position: relative;background: #ffffff;font-size: 16px;margin-top: 15px;height: 20px;padding: 15px 19px;}
#container .content .main .conList .rankOp .dresGoods{position: absolute;/*left: 10px;*/  }
#container .content .main .conList .rankOp .dresGoods .dress{color: #313131;}
#container .content .main .conList .rankOp .dresGoods a{padding-right: 20px;}
#container .content .main .conList .rankOp .dresGoods a i{font-size: 10px;display: inline-block;text-indent: 7px;}
#container .content .main .conList .rankOp .dresGoods .current{color: #e16811;}
#container .content .main .conList .rankOp .rank li{display: block; float: left; margin-left: 19px;}
#container .content .main .conList .rankOp .rank li a{color: #313131;}
#container .content .main .conList .rankOp .showGoods{margin-right: 5px;}
#container .content .main .conList .rankOp .showGoods input{width: 21px;height: 21px;}
#container .content .main .conList .rankOp .showGoods label{display: block;float: right;line-height: 25px;}
#container .content .main .conList .mainCon .clearfix{padding: 15px 0 0 0;}
#container .content .main .conList .mainCon .clearfix .goodsItemh{float: left;position: relative;border: solid 1px transparent;background: #ffffff;width: 226px;height: 320px;	 margin: 0 19px 13px 0;}
#container .content .main .conList .mainCon .clearfix .goodsItemh:hover{border: solid 1px #337ab7;}
#container .content .main .conList .mainCon .clearfix .goodsItemh:hover .addCart{display: block;}
#container .content .main .conList .mainCon .clearfix .goodsItemh:hover .price,#container .content .main .conList .mainCon .clearfix .goodsItemh:hover del{display: none;}
#container .content .main .conList .mainCon .clearfix .goodsItemh:nth-child(4n+4) {/*background: #ffffff;*/margin-right: 0;}
#container .content .main .conList .mainCon .clearfix .goodsItemh .goodImg {display: block;width: 227px;height: 229px;}
#container .content .main .conList .mainCon .clearfix .goodsItemh .name {display: block;padding: 10px 10px 0 10px;font-size: 13px;}
#container .content .main .conList .mainCon .clearfix .goodsItemh .price {font-size: 15px; color: #337ab7; display: inline-block;padding: 1px 0 0 3px;}
#container .content .main .conList .mainCon .clearfix .goodsItemh .creativity{font-size: 18px; color: #337ab7; display: inline-block;padding: 1px 0 0 3px;}
#container .content .main .conList .mainCon .clearfix .goodsItemh p{padding: 7px 0 0 4px;position: absolute;top: 281px;}
#container .content .main .conList .mainCon .clearfix .goodsItemh .addCart{display: none;position:absolute;left: 50%;top: 285px;margin-left: -103.5px;color: #ffffff;background: #337ab7;width: 207px;height: 25px;border-radius: 3px;line-height: 25px;text-align: center;}
#container .content .main .conList .mainCon .clearfix .goodsItemh .goodImg img{width: 100%;height: 100%;}
#container .content .main .conList form .pages{/*background: rgba(139, 69, 19, 0.31);*/margin-top: 20px;height: 78px;/* line-height: 78px; */}
#container .content .main .conList form .pages .lf{padding: 8px 0 0 0;}
#container .content .main .conList form .pages .lf span{font-size: 18px;}
#container .content .main .conList form .pages .pageJump a{display: block;float: left; height: 38px; border: solid 1px transparent;}
#container .content .main .conList form .pages .pageJump a:hover{border: solid 1px #337ab7;}
#container .content .main .conList form .pages .pageJump .num{color: #000000;width: 30px;line-height: 38px;margin-left: 10px;background: #ffffff;font-size: 18px;text-align: center;}
#container .content .main .conList form .pages .pageJump .current{color: #ffffff;background: #337ab7;}
#container .content .main .conList form .pages .pageJump .next,#container .content .main .conList form .pages .pageJump .previous{color: #000000;width: 73px;line-height: 38px;margin-left: 10px;background: #ffffff;font-size: 18px;text-align: center;}
#container .content .sider{background: #FFFFFF;width: 200px;height: auto;}
#container .content .sider .title{display: block;padding: 9px 0 0 11px;font-size: 16px;color: #313131;font-weight: bold;}
#container .content .sider .shopList {background: #ffffff;height: 255px;width: 174px; position: relative; margin-left: 12px;margin-top: 19px;border-bottom: solid 1px #dfdfdf;}
#container .content .sider .shopList:hover {border: solid 1px #e16811;}
#container .content .sider .shopList img {width: 100%;height: 69%;}
#container .content .sider .shopList a {text-decoration: none;color: #000000;}
#container .content .sider .shopList .name {padding: 8px 0 0 0;line-height: 18px;font-size: 14px;display: block;}
#container .content .sider .shopList p {position: absolute;top: 225px;left: -4px;}
#container .content .sider .shopList .addCart {background: #e16811;height: 25px;display: none;font-size: 14px;color: #ffffff;width: 170px;border-radius: 3px;margin-left: 6px;margin-top: 0px;text-align: center;line-height: 24px;}
#container .content .sider .shopList:hover .addCart {display: block;}
#container .content .sider .shopList:hover .price,#container .content .sider .shopList:hover del  {display: none;}
#container .content .sider .shopList .price {font-size: 14px;color: #e16811;}


