/*
CopyRight:DFrobot.com.cn 2017
Author:Fish,Luke
Content:Cart
*/
iframe{opacity: 0;position: fixed;}
#container {}
#container .title {height: 46px;font-size: 22px;line-height: 35px;}
#container .title span {font-weight: normal;font-family: arial;padding-left: 10px;font-size: 18px;}
#cartFrame .cartListMenu {height: 54px;line-height: 54px;background: #FFFFFF;font-size: 18px;font-weight: bold;margin-bottom: 5px;}
#cartFrame .cartListMenu .lf {padding-left: 30px;}
#cartFrame .cartListMenu .rf {padding-right: 30px;}
#cartFrame .cartListMenu span {color: #e16811;}
#cartFrame .cartList {background: #FFFFFF;}
#cartFrame .cartList ul {}
#cartFrame .cartList li {padding: 15px 30px;width: 1140px;clear: both;clear: both;height: 90px;border-bottom: 1px dashed #c3c3c3;font-size: 16px;}
#cartFrame .cartList li .name {float: left;width: 430px;}
#cartFrame .cartList li .spec {float: left;width: 150px;text-align: center;line-height: 50px;height: 90px;}
#cartFrame .cartList li .thumb {width: 120px;float: left;}
#cartFrame .cartList li .thumb img {    margin-top: -15px;width: 90px;height: 90px;}
#cartFrame .cartList li .productName {float: left;width: 310px;height: 70px;position: relative;}
#cartFrame .cartList li .productName .con {position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 36px;margin: auto;}
#cartFrame .cartList li .productName .con .essence{width: 14px;height: 17px;float: left;margin: 1px 5px 0 0;}
#cartFrame .cartList li .productName .con a {color: #313131;}
#cartFrame .cartList li .productName .con span {color: #ff0000;}
#cartFrame .cartList li .price {float: left;height: 90px;width: 150px;text-align: center;line-height: 50px;}
#cartFrame .cartList li .number {float: left;height: 60px;width: 100px;text-align: center;line-height: 90px;position: relative;}
#cartFrame .cartList li .number .con {position: absolute;top: 0;bottom: 0;left: 9px;right: 0;width: 100%;height: 36px;margin: auto;}
#cartFrame .cartList li .subtotal {float: left;height: 90px;width: 150px;text-align: center;line-height: 50px;}
#cartFrame .cartList li .options {float: left;height: 90px;width: 60px;text-align: center;line-height: 50px;}
#cartFrame .cartList li .options a {color: #313131;}
#cartFrame .cartList li .options a:hover {color: #e16811;}
#cartFrame .cartList li .options .icon-shoucang:hover:before {content: "\e681";}
#cartFrame .cartList li .options .icon-five-pointed-star:hover:before {content: "\e663";}
#cartFrame .cartList .tr {height: 54px;line-height: 54px;padding: 0 30px;font-size: 16px;border-bottom: 1px solid #b5b5b5;}
#cartFrame .cartList .tr div {height: 54px;line-height: 54px;}

#cartFrame .cartList li .subList{clear: both;padding-top: 20px;border-left: 1px solid #dcdcdc;margin-left: 16px;}
#cartFrame .cartList li .subList .li{clear: both;height: 60px;margin-bottom: 15px;}
#cartFrame .cartList li .subList .li .line{float: left;width: 19px;border-bottom: 1px solid #dcdcdc;margin-top: 30px;}
#cartFrame .cartList li .subList .li .thumb{float: left;margin-left: 4px;width: 79px;}
#cartFrame .cartList li .subList .li .thumb img{width: 60px;height: 60px;}
#cartFrame .cartList li .subList .li .name{float: left;width: 619px;position: relative;height: 60px;}
#cartFrame .cartList li .subList .li .name .con{position: absolute;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 36px;margin: auto;}
#cartFrame .cartList li .subList .li .num{float: left;width: 84px;text-align: center;height: 60px;line-height: 60px;}
#cartFrame .cartList li .subList .btn{clear: both;height: 30px;}
#cartFrame .cartList li .subList .btn button{line-height: 30px;height: 30px;width: 1099px;margin-left: 23px;background: #337ab7;color: #000000;border: none;outline: none;cursor: pointer;}

#cartFrame .totoal {background: #FFFFFF;padding: 15px 30px;margin: 8px 0;font-size: 16px;}
#cartFrame .totoal .rf {}
#cartFrame .totoal .rf span {padding-left: 20px;}
#cartFrame .totoal .rf span b {color: #337ab7;}
#cartFrame .totoal .rf span i {color: #337ab7;font-style: normal;font-size: 22px;font-weight: bold;}
#cartFrame .btnFrame {text-align: right;padding: 7px 0 30px 0;}
#cartFrame .btnFrame button {width: 165px;height: 45px;text-align: center;background: #337ab7;color: #FFFFFF;font-size: 18px;border: none;outline: none;cursor: pointer;}
#checkoutFrame {}

#checkoutFrame .creativityFrame{}
#checkoutFrame .creativityFrame .product{}
#checkoutFrame .creativityFrame .product .thumb{float: left;width: 200px;}
#checkoutFrame .creativityFrame .product .thumb img{width: 200px;}
#checkoutFrame .creativityFrame .product .productName{width: 910px;float: right;height: 40px;line-height: 40px;font-size: 20px;}
#checkoutFrame .creativityFrame .product .price{width: 910px;float: right;line-height: 100px;font-size: 20px;}
#checkoutFrame .creativityFrame .product .price span{font-size: 40px;color: #e16811;margin-right: 30px;}

#checkoutFrame .addressFrame {background: #FFFFFF;padding: 20px 30px;overflow: hidden;}
#checkoutFrame .addressFrame .tit {font-size: 18px;font-weight: bold;height: 30px;}
#checkoutFrame .addressFrame .list {display: none;}
#checkoutFrame .addressFrame .list ul {}
#checkoutFrame .addressFrame .list li {width: 564px;height: auto;border: 2px solid #eeeeee;float: left;margin-bottom: 20px;padding: 16px;position: relative;cursor: pointer;background: #EEEEEE;}
#checkoutFrame .addressFrame .list li:nth-child(2n+2) {float: right;}
#checkoutFrame .addressFrame .list li .consignee {font-size: 16px;padding-bottom: 10px;}
#checkoutFrame .addressFrame .list li .consignee b {padding-right: 15px;}
#checkoutFrame .addressFrame .list li .consignee span {}
#checkoutFrame .addressFrame .list li .default {position: absolute;right: 30px;font-size: 16px;color: #337ab7;display: none;}
#checkoutFrame .addressFrame .list li .setDefault {position: absolute;right: 30px;font-size: 16px;display: none;}
#checkoutFrame .addressFrame .list li .selectBtn {position: absolute;width: 100%;height: 120px;background: #000000;top: 0;left: 0;opacity: 0;}
#checkoutFrame .addressFrame .list li .setDefault a {color: #313131;}
#checkoutFrame .addressFrame .list li .setDefault a:hover {color: #e16811;}
#checkoutFrame .addressFrame .list li .options {position: absolute;right: 20px;font-size: 16px;top: 43px;display: none;}
#checkoutFrame .addressFrame .list li .options a {color: #313131;}
#checkoutFrame .addressFrame .list li .options a:hover {color: #e16811;}
#checkoutFrame .addressFrame .list li .options .delBtn {}
#checkoutFrame .addressFrame .list li .options .editBtn {padding-right: 15px;}
#checkoutFrame .addressFrame .list li .address {font-size: 16px;width: 420px;height: 60px;line-height: 20px;overflow: hidden;}
#checkoutFrame .addressFrame .list li:hover .setDefault,#checkoutFrame .addressFrame .list li:hover .options {display: block;}
#checkoutFrame .addressFrame .list .select {border: 2px solid #337ab7;background: #FFFFFF;}
#checkoutFrame .addressFrame .list .addNewAddress {height: 88px;text-align: center;line-height: 88px;font-size: 24px;}
#checkoutFrame .addressFrame .list .addNewAddress i {font-size: 24px;}
#checkoutFrame .addressFrame .loading {}
#checkoutFrame .addressFrame .more {display: none;}
#checkoutFrame .addressFrame .more button {cursor: pointer;font-size: 16px;background: none;border: none;outline: none;}
#checkoutFrame .addressFrame .more button:hover {color: #e16811;}
#checkoutFrame .addressFrame .more i {}
#checkoutFrame .defaultFrame {background: #FFFFFF;padding: 20px 30px;overflow: hidden;margin: 5px 0;}
#checkoutFrame .defaultFrame .tit {font-size: 18px;font-weight: bold;height: 30px;}
#checkoutFrame .defaultFrame ul {}
#checkoutFrame .defaultFrame li {background: #EEEEEE;border: 2px solid #EEEEEE;float: left;width: 266px;height: 56px;margin: 0 20px 18px 0;overflow: hidden;cursor: pointer;position: relative;}
#checkoutFrame .defaultFrame li:nth-child(4) {margin-right: 0;}
#checkoutFrame .defaultFrame li:hover {background: #FFFFFF;border: 2px solid #337ab7;}
#checkoutFrame .defaultFrame li b {position: absolute;display: none;}
#checkoutFrame .defaultFrame li b img {width: auto;height: auto;}
#checkoutFrame .defaultFrame li:hover b {display: block;}
#checkoutFrame .defaultFrame .small {}
#checkoutFrame .defaultFrame .small .payIcon {width: 285px;height: 60px;}
#checkoutFrame .defaultFrame .small b {right: 20px;top: 20px;}
#checkoutFrame .defaultFrame .big {width: 556px;clear: both;margin-bottom: 0;height: 88px;}
#checkoutFrame .defaultFrame .big img {float: left;}
#checkoutFrame .defaultFrame .big span {display: block;float: left;width: 370px;padding-top: 13px;font-size: 16px;line-height: 21px;}
#checkoutFrame .defaultFrame .big b {right: 20px;top: 34px;}
#checkoutFrame .defaultFrame .select {background: #FFFFFF;border: 2px solid #337ab7;}
#checkoutFrame .defaultFrame .select b {display: block;}
#checkoutFrame .defaultFrame .big2 {width: 556px;margin: 10px 20px 10px 0;height: 88px;float: left;}
#checkoutFrame .defaultFrame .big2:nth-child(2n+2) {margin-right: 0;}
#checkoutFrame .defaultFrame .big2 img {float: left;}
#checkoutFrame .defaultFrame .big2 .desc {width: 250px;font-size: 16px;line-height: 21px;height: 89px;display: table-cell;vertical-align: middle;}
#checkoutFrame .defaultFrame .big2 i {width: 30px;font-size: 16px;line-height: 21px;height: 89px;display: table-cell;vertical-align: middle;font-style: normal;color: #337ab7;font-weight: bold;padding-left: 30px;}
#checkoutFrame .defaultFrame .big2 b {right: 20px;top: 34px;}
#checkoutFrame .defaultFrame .noData {font-size: 16px;background: none;border: none;height: auto;width: auto;}
#checkoutFrame .defaultFrame .noData:hover {background: none;border: none;}
#checkoutFrame .discountFrame .inputFrame {}
#checkoutFrame .discountFrame .inputFrame ul {}
#checkoutFrame .discountFrame .inputFrame ul li {clear: both;background: none;width: 100%;margin: 0;padding: 0;border: none;font-size: 16px;cursor: default;overflow: initial;}
#checkoutFrame .discountFrame .inputFrame ul li:hover {border: none;background: none;}
#checkoutFrame .discountFrame .inputFrame ul li .firstTit {float: left;width: 110px;height: 30px;line-height: 30px;}
#checkoutFrame .discountFrame .inputFrame ul li .input {float: left;width: 300px;height: 30px;line-height: 30px;position: relative;}
#checkoutFrame .discountFrame .inputFrame ul li .input input{border: 1px solid #D1D1D1;line-height: 28px;height: 28px;padding: 0 2%;width: 90%;}
#checkoutFrame .discountFrame .inputFrame ul li .input textarea {width: 380px;height: 50px;border: 1px solid #d2d2d2;resize: none;padding: 5px;}
#checkoutFrame .discountFrame .inputFrame ul li .input select {width: 283px;height: 28px;border: 1px solid #d2d2d2;}
#checkoutFrame .discountFrame .inputFrame ul li .text {float: left;width: auto;margin-right: 20px;height: 30px;line-height: 30px;}
#checkoutFrame .discountFrame .inputFrame ul li .checkBtn {display: block;float: left;width: 98px;height: 28px;border: none;background: #fd9326;color: #FFFFFF;outline: none;cursor: pointer;}
#checkoutFrame .otherFrame .inputFrame li {height: 40px;}
#checkoutFrame .invoiceFrame {}
#checkoutFrame .invoiceFrame ul {display: none;}
#checkoutFrame .invoiceFrame .invoiceList {display: block;}
#checkoutFrame .invoiceFrame .tit {}
#checkoutFrame .invoiceFrame .tit .text {float: left;}
#checkoutFrame .invoiceFrame .tit button {display: block;float: left;border: 1px solid #d2d2d2;width: 18px;height: 18px;margin: 0 10px;cursor: pointer;outline: none;}
#checkoutFrame .invoiceFrame .tit .select {border: 1px solid #FFFFFF;}
#checkoutFrame .invoiceFrame .tit .select img {position: absolute;display: block;margin: -12px 0 0 -10px;width: 24px;height: 24px;}
#checkoutFrame .invoiceFrame .tit button img {display: none;}
#checkoutFrame .invoiceFrame .tit span {display: block;float: left;color: #707070;font-size: 14px;font-weight: normal;line-height: 24px;}
#checkoutFrame .invoiceFrame .destroy b {background: #EEEEEE;}
#checkoutFrame .invoiceFrame .destroy span {font-size: 16px;color: #313131;}
#checkoutFrame .invoiceFrame .big3 {width: 530px;margin: 10px 20px 10px 0;height: 40px;float: left;padding: 13px;}
#checkoutFrame .invoiceFrame .big3:hover .edit {display: block;}
#checkoutFrame .invoiceFrame .big3 b {right: 20px;top: 23px;}
#checkoutFrame .invoiceFrame .big3 a {display: block;text-align: center;font-size: 16px;line-height: 40px;color: #313131;}
#checkoutFrame .invoiceFrame .big3 .desc {width: 455px;float: left;}
#checkoutFrame .invoiceFrame .big3 .desc h3 {line-height: 22px;}
#checkoutFrame .invoiceFrame .big3 .desc h3 span {padding-left: 15px;font-weight: normal;}
#checkoutFrame .invoiceFrame .big3 .desc h4 {font-weight: normal;}
#checkoutFrame .invoiceFrame .big3 .edit {float: left;line-height: 40px;font-size: 16px;display: none;}
#checkoutFrame .invoiceFrame .big3:nth-child(2n+2) {margin-right: 0;}
#checkoutFrame .totalFrame {}
#checkoutFrame .totalFrame .li {font-size: 16px;height: 30px;line-height: 30px;text-align: right;}
#checkoutFrame .totalFrame .li span {float: right;display: block;width: 120px;text-align: right;}
#checkoutFrame .totalFrame .li b {float: right;display: block;width: 150px;text-align: right;color: #337ab7;font-size: 20px;font-weight: normal;}
#checkoutFrame .totalFrame .li i {float: right;display: block;font-style: normal;width: 100px;color: #e16811;text-align: left;}
#checkoutFrame .totalFrame .li .totalPrice {font-size: 26px;color: #337ab7;}
#checkoutFrame .totalFrame .tips {font-size: 14px;}
#checkoutFrame .totalFrame .tips span {display: inline;float: initial;color: #e16811;}
#checkoutFrame .btnFrame {margin-top: 20px;text-align: right;height: 60px;}
#checkoutFrame .btnFrame button {width: 163px;height: 43px;font-size: 18px;font-weight: bold;float: right;cursor: pointer;outline: none;}
#checkoutFrame .btnFrame .back {border: 1px solid #337ab7;background: #337ab7;color: #FFFFFF;margin-right: 20px;}
#checkoutFrame .btnFrame .sumbmit {border: 1px solid #337ab7;background: #337ab7;color: #FFFFFF;float: right;}
.checkoutShopList {background: #FFFFFF;padding: 0 32px;}
.checkoutShopList .tit {height: 55px;line-height: 55px;font-size: 18px;font-weight: bold;}
.checkoutShopList .list {}
.checkoutShopList .list ul {}
.checkoutShopList .list li {float: left;width: 1136px;}
.checkoutShopList .list li .name {float: left;width: 586px;text-indent: 10px;}
.checkoutShopList .list li .spec {float: left;width: 150px;text-align: center;}
.checkoutShopList .list li .price {float: left;width: 150px;text-align: center;}
.checkoutShopList .list li .number {float: left;width: 100px;text-align: center;}
.checkoutShopList .list li .subtotal {float: left;width: 150px;text-align: center;}
.checkoutShopList .list .tr {background: #eeeeee;line-height: 50px;font-size: 16px;}
.checkoutShopList .list .td {padding: 16px 0;border-bottom: 1px dashed #c3c3c3;font-size: 16px;}
.checkoutShopList .list .td .thumb {width: 120px;height: 90px;float: left;}
.checkoutShopList .list .td .thumb img {width: 90px;height: 90px;}
.checkoutShopList .list .td .productName {width: 466px;height: 90px;float: left;}
.checkoutShopList .list .td .productName a {color: #313131;}
.checkoutShopList .list .td .productName .con {display: table-cell;vertical-align: middle;width: 466px;height: 90px;}
.checkoutShopList .list .td .spec {height: 90px;line-height: 90px;}
.checkoutShopList .list .td .price {height: 90px;line-height: 90px;}
.checkoutShopList .list .td .number {height: 90px;line-height: 90px;}
.checkoutShopList .list .td .subtotal {height: 90px;line-height: 90px;}
.checkoutShopList .list li:last-child {border: none;padding-bottom: 30px;}
#addNewAddrssFrame {position: fixed;top: 0;left: 0;width: 100%;display: none;}
#addNewAddrssFrame .con {position: absolute;z-index: 1;width: 530px;height: 310px;left: 50%;margin-left: -295px;background: #FFFFFF;padding: 35px 30px;font-size: 16px;}
#addNewAddrssFrame .con .title {height: 30px;font-weight: bold;}
#addNewAddrssFrame .con .inputFrame {padding: 8px 0;height: 30px;line-height: 30px;}
#addNewAddrssFrame .con .inputFrame span {display: block;float: left;padding: 0 10px;}
#addNewAddrssFrame .con .inputFrame span:nth-child(1) {width: 80px;padding: 0;}
#addNewAddrssFrame .con .inputFrame span b {color: #e16811;line-height: 35px;display: block;float: left;}
#addNewAddrssFrame .con .inputFrame .menu {float: left;}
#addNewAddrssFrame .con .inputFrame select {height: 28px;border: 1px solid #bfbfbf;}
#addNewAddrssFrame .con .inputFrame input {width: 430px;height: 28px;border: 1px solid #bfbfbf;text-indent: 5px;}
#addNewAddrssFrame .con .btnFrame {position: absolute;margin: 280px 0 0 372px;}
#addNewAddrssFrame .con .btnFrame button {width: 140px;height: 30px;background: #fd9326;border: none;color: #FFFFFF;outline: none;cursor: pointer;}
#addNewAddrssFrame .maskBG {position: absolute;top: 0;left: 0;width: 100%;background: #000000;opacity: 0.5;height: 3000px;}
#invoiceEditFrame {position: fixed;top: 0;left: 0;width: 100%;z-index: 10;}
#invoiceEditFrame .conFrame {position: absolute;z-index: 1;left: 50%;margin-left: -295px;width: 536px;background: #FFFFFF;padding: 27px;}
#invoiceEditFrame .conFrame .tit {font-size: 18px;font-weight: bold;height: 30px;border-bottom: 1px solid #bfbfbf;margin-bottom: 10px;}
#invoiceEditFrame .conFrame .tit span {}
#invoiceEditFrame .conFrame .list ul {}
#invoiceEditFrame .conFrame .list ul li {height: 30px;line-height: 30px;padding: 7px 0;}
#invoiceEditFrame .conFrame .list ul li .name {float: left;width: 120px;font-size: 16px;}
#invoiceEditFrame .conFrame .list ul li .name span {color: #e16811;}
#invoiceEditFrame .conFrame .list ul li .input {}
#invoiceEditFrame .conFrame .list ul li .input input {width: 405px;height: 28px;padding: 0;border: 1px solid #bfbfbf;text-indent: 10px;outline: none;}
#invoiceEditFrame .conFrame .list ul li .input button {height: 28px;padding: 0;border: 1px solid #bfbfbf;background: none;padding: 0 10px;margin-right: 10px;outline: none;}
#invoiceEditFrame .conFrame .list ul li .input .select {border: 1px solid #fd9326;color: #fd9326;}
#invoiceEditFrame .conFrame .btnFrame {text-align: right;padding-top: 15px;}
#invoiceEditFrame .conFrame .btnFrame button {height: 30px;border: none;font-size: 16px;font-weight: normal;outline: none;font-weight: bold;color: #FFFFFF;padding: 0 20px;cursor: pointer;}
#invoiceEditFrame .conFrame .btnFrame .closeBtn {background: #bfbfbf;}
#invoiceEditFrame .conFrame .btnFrame .saveBtn {margin-left: 10px;background: #fd9326;}
#invoiceEditFrame .maskBG {position: absolute;top: 0;left: 0;width: 100%;height: 3000px;}
.orderSucess {height: auto;}
.orderSucess .out {height: 43px;font-size: 22px;padding: 6px 0 0 0;}
.orderSucess .out a {color: #000000;font-weight: 100;font-size: 19px;display: inline-block;text-indent: 4px;}
.orderSucess .con {height: auto;background: #ffffff;}
.orderSucess .con h2 {text-align: center;padding: 51px 0 0 0;font-size: 17px;}
.orderSucess .con h2 a {text-align: center;margin: 51px 0 0 0;font-size: 17px;}
.orderSucess .con .name {font-size: 17px;text-align: center;margin-top: 16px;}
.orderSucess .con .metho {margin: 21px auto;width: 309px;line-height: 22px;font-size: 17px;}
.orderSucess .con .payOnline {text-align: center;}
.orderSucess .con .payOnline input {border: none;background: #e16811;color: #ffffff;padding: 10px 33px;font-size: 17px;font-weight: bold;cursor: pointer;}
.orderSucess .con .payOnline button {border: none;background: #e16811;color: #ffffff;padding: 10px 33px;font-size: 17px;font-weight: bold;cursor: pointer;}
.orderSucess .con h3 {text-align: center;font-size: 16px;padding: 20px 0;}