#headerFrame{height: auto;}
#headerFrame .siteAdFrame{width: 100%;text-align: center;}
#headerFrame .siteAdFrame img{width: 100%;height: auto;}
#headerFrame .top{width: 1200px;margin: 0 auto;line-height: 28px;background: #EEEEEE;height: 28px;}
#headerFrame .top .lf{width: 350px;}
#headerFrame .top .rf{width: 700px;text-align: right;}
#headerFrame .top .rf span{padding-left: 5px;}
#headerFrame .top .rf .regBtn{background: #e26b17;border-radius: 3px;padding: 3px 5px;color: #FFFFFF;}
#headerFrame .top .rf .regBtn i{font-size: 12px;}
#headerFrame .top .rf #StranLink{color: #424242;cursor: pointer;}

@media only screen and (max-width: 1200px) {#headerFrame .contentFrame{width:1200px;height: 125px;background: #a5a5aa14;z-index: 10;}}
@media only screen and (min-width: 1200px) {#headerFrame .contentFrame{width: 100%;height: 125px;background: #a5a5aa14;z-index: 10;}}
#headerFrame .contentFrame .contentBox{width: 1200px;margin: 0 auto;position: relative;}
#headerFrame .contentFrame .contentBox .logoFrame{position: absolute;width: 220px;height: 70px;top: 0;left: 0;}
#headerFrame .contentFrame .contentBox .miniLogoFrame{position: absolute;width: 220px;height: 50px;top: 7px;left: 4px;display: none;}
#headerFrame .contentFrame .contentBox .miniLogoFrame a{display: block;float: left;width: 53px;height: 46px;}
#headerFrame .contentFrame .contentBox .miniLogoFrame span{display: block;float: left;width: 150px;height: 46px;line-height: 46px;font-size: 18px;font-weight: bold;}
#headerFrame .contentFrame .contentBox .miniLogoFrame span b{display: block;float: right;width: 33px;padding-top: 3px;font-size: 12px;}
#headerFrame .contentFrame .contentBox .searchFrame{position: absolute;top: 22px;left: 285px;height: 45px;width: 915px;}

#headerFrame .contentFrame .contentBox .cartFrame{position: absolute;border: solid 1px #535353;border-radius: 3px;width: 148px;height: 43px;left: 1050px;top: 22px;}
#headerFrame .contentFrame .contentBox .cartFrame .btn{line-height: 43px;width: 148px;height: 43px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .text{float: left;}
#headerFrame .mini{height: 60px;}
#headerFrame .mini .contentBox .searchFrame{top: 7px;}
#headerFrame .mini .contentBox .cartFrame{top: 7px;}
#headerFrame .mini .contentBox .categoryNavFrame{margin-top: -25px;}
#headerFrame .mini .contentBox .categoryNavFrame .list{display: none;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart{}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .text{font-size: 16px;color: #424242;margin: -2px 0 0 14px;font-weight: bold;width: 90px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .text i{font-size: 26px;color: #424242;font-weight: normal;padding: 0 5px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .talkbubble{width: auto;height: 21px;background: red;position: relative;top: 10px;line-height: 21px;text-align: center;color: #ffffff;background: #e16811;border-radius: 3px 3px 3px 0;float: left;padding: 0 5px;font-size: 14px;margin-top: 2px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .talkbubble:before{content: "";position: absolute;right: 100%;top: 16px;width: 0;height: 0;border-top: 5px solid transparent;border-right: 5px solid #e16811;border-bottom: 0px solid transparent;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .talkbubble span{}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .mask{position: absolute;width: 148px;height: 1px;background: #FFFFFF;margin: -2px 0 0 0px;z-index: 2;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart{background: #FFFFFF;position: absolute;width: 285px;margin: -2px 0 0 -138px;border: 1px solid #535353;display: none;height: 340px;overflow: hidden;z-index: 5;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con{height: 260px;overflow-x: inherit;overflow-y: scroll;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con .nogoods{padding-bottom: 13px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con ul{padding: 0 13px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li{padding: 13px 0;border-bottom: 1px solid #d2d2d2;float: left;position: relative;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .thumb{float: left;width: 70px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li a{color: #313131;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .thumb img{width: 60px;height: 60px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .name{float: left;width: 160px;height: 40px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .price{float: left;width: 170px;height: 20px;text-align: right;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .price span{color: #e16811;font-weight: bold;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .deleteBtn{position: absolute;top: 15px;right: 0;display: none;cursor: pointer;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .con li .deleteBtn i{font-size: 12px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .totoal{height: 40px;background: #eeeeee;line-height: 40px;padding: 0 15px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .totoal span{color: #e16811;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .totoal .miniCartBtn{text-align: right;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .totoal .miniCartBtn button{width: auto;height: 25px;border-radius: 3px;background: #e16811;color: #FFFFFF;outline: none;cursor: pointer;border: 1px solid #e16811;font-weight: bold;padding: 0 10px;}
#headerFrame .contentFrame .contentBox .cartFrame #mycart .miniCart .totoal .miniCartBtn .wBtn{background: #FFFFFF;color: #e16811;}

#headerFrame .contentFrame .contentBox .topNavFrame{position: absolute;top: 85px;left: 205px;height: 40px;}
#headerFrame .contentFrame .contentBox .topNavFrame ul{height: 40px;}
#headerFrame .contentFrame .contentBox .topNavFrame li{height: 40px;line-height: 35px;float: left;display: block;font-size: 16px;font-weight: bold;padding: 0 19px;}
#headerFrame .contentFrame .contentBox .topNavFrame li a{text-decoration:none; color: 337ab7;line-height: 10px;}
#headerFrame .contentFrame .contentBox .topNavFrame li a:hover{color: #337ab7;text-decoration:none;}

.categoryNavFrame{position: absolute;top: 85px;left: 0;width: 200px;height: 40px;}
.categoryNavFrame .btn{width: 200px;height: 40px;background: #337ab7;}
.categoryNavFrame .btn .allClassBtn{color: #FFFFFF;font-size: 16px;font-weight: bold;padding: 3px 8px 0 4px;display: block;}
.categoryNavFrame .btn .allClassBtn a:hover{text-decoration:none;}
.categoryNavFrame .list{display: none;position: absolute;z-index: 10;}
.categoryNavFrame .list ul{width: 200px;background: #313131;height: 442px;}
.categoryNavFrame .list li{width: 200px;height: 34px;overflow: hidden;}
.categoryNavFrame .list li .navFrame{line-height: 34px;text-indent: 12px;color: #FFFFFF;border-left: 3px solid #313131;}
.categoryNavFrame .list li .navFrame a{color: #FFFFFF;font-size: 14px;}
.categoryNavFrame .list li .navFrame a:hover{color: #337ab7;text-decoration:none;}
.categoryNavFrame .list li .navFrame:hover{border-left: 3px solid #337ab7;}
.categoryNavFrame .list li .subNavFrame{display: none;position: absolute;width: 150px;height: 442px;top: 0;left: 200px;}
.categoryNavFrame .list li .subNavFrame .subNav{width: 150px;height: 388px;overflow: hidden;padding: 26px 20px;border-top: 1px solid #337ab7;border-bottom: 1px solid #337ab7s;float: left;background: #FFFFFF;overflow-y: auto;}
.categoryNavFrame .list li .subNavFrame .subNav .box{float: left;width: 170px;padding-bottom: 30px;}
.categoryNavFrame .list li .subNavFrame h4{font-size: 14px;font-weight: bold;position: relative;}
.categoryNavFrame .list li .subNavFrame h4:before{content: "__";position: absolute;margin: 7px 0 0 0;color: #959595;}
.categoryNavFrame .list li .subNavFrame h4 a{color: #424242;}
.categoryNavFrame .list li .subNavFrame .subNav .box span{padding-top: 10px;display: block;}
.categoryNavFrame .list li .subNavFrame .subNav .box span a{display: block;font-size: 12px;line-height: 20px;color: #424242;}
.categoryNavFrame .list li .subNavFrame .subNav .box span a:hover{color: #337ab7;text-decoration:none;}
.categoryNavFrame .list li .subNavFrame .recommend{width: 150px;height: 388px;overflow: hidden;border: 1px solid #e16811;border-left: none;padding: 26px 22px 26px 17px;background: #EEEEEE;}
.categoryNavFrame .list li .subNavFrame .recommend a{padding-top: 16px;display: block;font-size: 12px;line-height: 20px;color: #424242;}
.categoryNavFrame .list li .subNavFrame .recommend a img{width: 150px;height: 50px;}
.categoryNavFrame .list li:hover .subNavFrame{display: block;}
