/*
CopyRight:DFrobot.com.cn 2017
Author:Fish,Luke
Content:Clips
*/
#container .conRf .box .userCenter .baseMes {height: 207px;margin-top: 6px;background: #ffffff;}
#container .conRf .box .userCenter .baseMes .top {padding: 33px 0 0 26px;font-size: 17px;font-weight: bold;}
#container .conRf .box .userCenter .baseMes .bottom {height: 132px;margin-top: 9px;padding: 0 0 0 26px;position: relative;}
#container .conRf .box .userCenter .baseMes .bottom .myMes {background: #337ab7;height: 100px;width: 291px;text-align: center;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .headImg {width: 100px;height: 100px;position: absolute;top: 12px;left: 120px;border-radius: 100%;background: #FFFFFF;overflow: hidden;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .userRankLine{color: #FFFFFF;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .headImg img,
#container .conRf .box .userCenter .baseMes .bottom .myMes .dengjiImg img {width: 100%;height: 100%;border-radius: 100%;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .dengjiImg {width: 41px;height: 41px;position: absolute;top: 80px;left: 184px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesID {margin-top: 30px;font-weight: bold;color: #fefefe;letter-spacing: 0.5px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesTel {margin-top: 5px;font-weight: bold;color: #fefefe;letter-spacing: 0.5px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesMail {margin-top: 4px;font-weight: bold;color: #fefefe;letter-spacing: 0.5px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesdengjiImg {padding: 25px 20px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesdengjiImg span i {font-size: 10px;color: #f5ffff;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesBase {width: 250px;height: 5px;background: #f2f0f1;position: absolute;top: 215px;left: 46px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesUp {width: 0px;height: 5px;background: #8cfffd;position: absolute;top: 215px;left: 46px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesGrow .progress .progress-bar {position: relative;animation: animate-positive 2s;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesGrow .progress .progress-value {display: block;padding: 3px 7px;font-size: 13px;color: #fff;border-radius: 4px;background: #191919;border: 1px solid #000;position: absolute;top: -40px;right: -10px;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesGrow .progress .progress-value:after {content: "";border-top: 10px solid #191919;border-left: 10px solid transparent;border-right: 10px solid transparent;position: absolute;bottom: -6px;left: 26%;}
#container .conRf .box .userCenter .baseMes .bottom .myMes .mesGrow .progress-bar.active {animation: reverse progress-bar-stripes 0.40s linear infinite, animate-positive 2s;}
@-webkit-keyframes animate-positive {0% {	width: 0;}}
@keyframes animate-positive {0% {	width: 0;}}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu {width: 353px;margin-left: 20px;height: 230px;border: solid 1px #d0d0d0;position: relative;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu:hover {box-shadow: 3px 0 5px #d0d0d0;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .balAnce {padding: 46px 0 0 25px;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .balAnce .yang01 {position: absolute;top: 24px;left: 126px;font-size: 25px;color: #606060;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .balAnce .yang11 {font-size: 38px;font-weight: bold;position: absolute;left: 70px;top: 45px;color: #e26709;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .redBag .yang02 {position: absolute;top: 138px;left: 126px;font-size: 25px;color: #606060;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .redBag .yang22 {position: absolute;top: 152px;left: 70px;font-weight: bold;font-size: 38px;color: #e26709;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .redBag .heji {position: absolute;left: 145px;top: 185px;font-size: 16px;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .redBag .heji a{font-weight: bold;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu .redBag {padding: 84px 0 0 25px;height: 70px;}
#container .conRf .box .userCenter .baseMes .bottom .myZhanghu div i {color: #606060;font-size: 40px;}
#container .conRf .box .userCenter .baseMes .bottom .myJifen {background: #fafafa;width: 248px;height: 230px;border: solid 1px #d0d0d0;border-left: none;text-align: center;}
#container .conRf .box .userCenter .baseMes .bottom .myJifen h2 {font-size: 32px;margin-top: 37px;margin-bottom: 15px;color: #f06f14;}
#container .conRf .box .userCenter .baseMes .bottom .myJifen span {font-size: 18px;margin-top: 14px;color: #2e2e2e;}
#container .conRf .box .userCenter .baseMes .bottom .myJifen h3 {font-size: 32px;margin-top: 45px;color: #f06f14;}
#container .conRf .box .userCenter .baseMes .bottom .myJifen p {font-size: 18px;margin-top: 14px;color: #2e2e2e;}
#container .conRf .box .userCenter .noPaid {height: 231px;margin-top: 21px;padding: 17px 26px 0 26px;background: #ffffff;}
#container .conRf .box .userCenter .noPaid p {font-weight: bold;font-size: 16px;height: 39px;}
#container .conRf .box .userCenter .noPaid .content {width: 914px;height: 163px;border: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noPaid .content .top {height: 29px;line-height: 29px;font-size: 17px;padding-left: 11px;color: 343434;background: #eeeeee;}
#container .conRf .box .userCenter .noPaid .content .bottom {height: 135px;}
#container .conRf .box .userCenter .noPaid .content .bottom .lf {height: 100%;font-size: 18px;text-align: center;}
#container .conRf .box .userCenter .noPaid .content .bottom .lf img {width: 80px;height: 80px;margin: 27px 0 0 2px;}
#container .conRf .box .userCenter .noPaid .f6 {color: #000000;}
#container .conRf .box .userCenter .noPaid .f6:hover {color: #e16811;}
#container .conRf .box .userCenter .noPaid .content .top a {color: #313131;}
#container .conRf .box .userCenter .noPaid .content .top .cc {color: #e16811;}
#container .conRf .box .userCenter .noPaid .content .top a:nth-child(1) {margin-right: 30px;}
#container .conRf .box .userCenter .noPaid .content .bottom .lf:nth-child(1) {width: 105px;line-height: 122px;}
#container .conRf .box .userCenter .noPaid .content .bottom .lf:nth-child(2) {width: 240px;text-align: center;line-height: 122px;}
#container .conRf .box .userCenter .noPaid .content .bottom .lf:nth-child(3) {width: 200px;line-height: 122px;}
#container .conRf .box .userCenter .noPaid .content .bottom .lf:nth-child(4) {width: 123px;line-height: 122px;border-right: solid 1px #d1d1d1;border-left: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType {width: 244px;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .shang {width: 244px;height: 25px;line-height: 25px;font-size: 16px;color: #e25a00;margin: 30px 0 0 0;cursor: pointer;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .xia {width: 244px;height: 25px;line-height: 25px;font-size: 16px;color: #e25a00;margin: 10px 0 0 0;color: #2b2b2b;cursor: pointer;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .xia a {color: #000000;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_7{margin: 0;text-align: center;width: 244px;height: 100px;padding-top: 10px;overflow: hidden;cursor: default;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_7 br:nth-child(1){display: none;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_7 {font-size: 10px;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_7 img{margin: 0;width: 80px;height: 80px;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_3{margin: 49px 0 0 0;width: 244px;padding: 0;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_3 input{cursor: pointer;background: #f35e02;color: #ffffff;font-size: 16px;border: 1px solid #f35e02;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_3 input:hover{background: none;background: #FFFFFF;color: #f35e02;font-size: 16px;border: 1px solid #f35e02;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_6{margin: 49px 0 0 0;width: 244px;padding: 0;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_6 br{display: none;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_6 input{cursor: pointer;background: #f35e02;color: #ffffff;font-size: 16px;border: 1px solid #f35e02;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_6 input:hover{background: none;background: #FFFFFF;color: #f35e02;font-size: 16px;border: 1px solid #f35e02;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_4{margin: 49px 0 0 0;width: 244px;cursor: default;}
#container .conRf .box .userCenter .noPaid .content .bottom .payType .payType_4::after{content: "银行汇款/转帐";}

#container .conRf .box .userCenter .noReceive {background: #ffffff;padding: 17px 26px 0 26px;height: 231px;margin-top: 20px;}
#container .conRf .box .userCenter .noReceive p {font-weight: bold;font-size: 16px;height: 39px;}
#container .conRf .box .userCenter .noReceive .content {width: 914px;height: 163px;border: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noReceive .content .top {height: 29px;line-height: 29px;font-size: 17px;padding-left: 11px;color: 343434;background: #eeeeee;}
#container .conRf .box .userCenter .noReceive .content .bottom {height: 130px;}
#container .conRf .box .userCenter .noReceive .content .bottom .lf {height: 100%;font-size: 18px;text-align: center;}
#container .conRf .box .userCenter .noReceive .content .bottom .lf img {width: 80px;height: 80px;margin: 27px 0 0 2px;}
#container .conRf .box .userCenter .noReceive .content .bottom .lf:nth-child(1) {width: 105px;line-height: 127px;}
#container .conRf .box .userCenter .noReceive .content .bottom .lf:nth-child(2) {width: 170px;text-align: center;line-height: 127px;}
#container .conRf .box .userCenter .noReceive .content .bottom .lf:nth-child(3) {width: 270px;line-height: 127px;}
#container .conRf .box .userCenter .noReceive .content .bottom .lf:nth-child(4) {width: 123px;line-height: 127px;border-right: solid 1px #d1d1d1;border-left: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noReceive .content .bottom .payType {width: 118px;}
#container .conRf .box .userCenter .noReceive .content .bottom .payType .shang {background: transparent;width: 80px;height: 25px;line-height: 25px;font-size: 16px;color: #e25a00;margin: 36px 0 0 20px;cursor: pointer;}
#container .conRf .box .userCenter .noReceive .content .bottom .payType .xia {background: transparent;width: 80px;height: 25px;line-height: 25px;font-size: 16px;color: #e25a00;margin: 12px 0 0 20px;color: #2b2b2b;cursor: pointer;}
#container .conRf .box .userCenter .noReceive .content .bottom .payType .shang:hover {background: #f35e02;color: #ffffff;font-size: 16px;}
#container .conRf .box .userCenter .noComment {background: #ffffff;padding: 17px 26px 0 26px;height: 231px;margin-top: 20px;}
#container .conRf .box .userCenter .noComment p {font-weight: bold;font-size: 16px;height: 39px;}
#container .conRf .box .userCenter .noComment .content {width: 914px;height: 163px;border: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noComment .content .top {height: 29px;line-height: 29px;font-size: 17px;padding-left: 11px;color: 343434;background: #eeeeee;}
#container .conRf .box .userCenter .noComment .content .bottom {height: 130px;}
#container .conRf .box .userCenter .noComment .content .bottom .lf {height: 100%;font-size: 18px;text-align: center;}
#container .conRf .box .userCenter .noComment .content .bottom .lf img {width: 80px;height: 80px;margin: 27px 0 0 2px;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(1) {width: 105px;line-height: 127px;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(2) {width: 170px;text-align: center;line-height: 127px;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(3) {width: 270px;line-height: 127px;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(4) {width: 123px;line-height: 127px;border-right: solid 1px #d1d1d1;border-left: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(5) {width: 124px;line-height: 127px;border-right: solid 1px #d1d1d1;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(6) {width: 118px;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(6) .shang {background: transparent;width: 80px;height: 25px;line-height: 25px;font-size: 16px;color: #e25a00;margin: 36px 0 0 20px;cursor: pointer;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(6) .xia {background: transparent;width: 80px;height: 25px;line-height: 25px;font-size: 16px;color: #e25a00;margin: 10px 0 0 20px;color: #2b2b2b;cursor: pointer;}
#container .conRf .box .userCenter .noComment .content .bottom .lf:nth-child(6) .shang:hover {background: #f35e02;color: #ffffff;font-size: 16px;}
#container .conRf .box .userCenter .myFavorite .content .shopList:hover {border: solid 1px #e16811;}
#container .conRf .box .userCenter .myFavorite {background: #ffffff;padding: 15px 26px 0 0;margin-top: 20px;}
#container .conRf .box .userCenter .myFavorite a {color: #000000;}
#container .conRf .box .userCenter .myFavorite a:hover {color: #e15811;}
#container .conRf .box .userCenter .myFavorite p {padding: 0 0 0 26px;font-weight: bold;font-size: 16px;height: 39px;}
#container .conRf .box .userCenter .myFavorite .content {}
#container .conRf .box .userCenter .myFavorite .content .shopList {height: 185px;width: 154px;position: relative;float: left;margin-right: 32px;margin-bottom: 20px;border: 1px solid transparent;}
#container .conRf .box .userCenter .myFavorite .content .shopList:hover {border: solid 1px #e16811;}
#container .conRf .box .userCenter .myFavorite .content .shopList a img {width: 100%;height: 100%;}
#container .conRf .box .userCenter .myFavorite .content .shopList a {text-decoration: none;color: #000000;display: block;width: 80px;height: 80px;margin-left: -40px;margin-bottom: 13px;position: relative;left: 50%;}
#container .conRf .box .userCenter .myFavorite .content .shopList .name {line-height: 18px;font-size: 14px;margin-left: -50px;width: 120px;display: block;height: 38px;overflow: hidden;position: relative;left: 50%;}
#container .conRf .box .userCenter .myFavorite .content .shopList p {position: absolute;top: 155px;width: 154px;padding: 10px 0 0 0;text-indent: 24px;}
#container .conRf .box .userCenter .myFavorite .content .shopList .addCart {background: #e16811;height: 25px;display: none;font-size: 14px;color: #ffffff;width: 150px;border-radius: 3px;line-height: 24px;position: absolute;left: 50%;margin-left: -75px;top: 1px;}
#container .conRf .box .userCenter .myFavorite .content .shopList:hover .addCart {display: block;}
#container .conRf .box .userCenter .myFavorite .content .shopList:hover .price,
#container .conRf .box .userCenter .myFavorite .content .shopList:hover del {display: none;}
#container .conRf .box .userCenter .myFavorite .content .shopList del {font-weight: 100;font-size: 13px}
#container .conRf .box .userCenter .myFavorite .content .shopList .price {font-size: 14px;color: #e16811;}
/*我的评价*/
#container .conRf .box .userCenter .myContent {padding: 0 26px;}
#container .conRf .box .userCenter .myContent .pTop {font-size: 16px;padding: 35px 0 0 0;}
#container .conRf .box .userCenter .myContent .pTop .pL {font-weight: bold;}
#container .conRf .box .userCenter .myContent .pTop .pM {text-indent: 9px;display: inline-block;}
#container .conRf .box .userCenter .myContent .pTop .pR {font-weight: bold;}
#container .conRf .box .userCenter .myContent .main {width: 100%;position: relative;margin-top: 22px;border-top: 2px solid #dfdfdf;}
#container .conRf .box .userCenter .myContent .main .mainP {font-size: 17px;padding-top: 38px;}
#container .conRf .box .userCenter .myContent .main .xinxin {margin-left: 14px;}
#container .conRf .box .userCenter .myContent .main .xinxin i {font-size: 17px;margin-right: 3px;}
#container .conRf .box .userCenter .myContent .main .mainP span {width: 270px;display: inline-block;}
#container .conRf .box .userCenter .myContent .main .mainP span:nth-child(1) {margin-right: 38px;}
#container .conRf .box .userCenter .myContent .main .mainP span:nth-child(2) {margin-right: 35px;}
#container .conRf .box .userCenter .myContent .main .content {margin-top: 41px;width: auto;height: 310px;border-bottom: 1px solid #dfdfdf;}
#container .conRf .box .userCenter .myContent .main .content .lf {position: relative;}
#container .conRf .box .userCenter .myContent .main .content .conL {position: relative;width: 284px;height: 260px;}
#container .conRf .box .userCenter .myContent .main .content .conL img {width: 169px;margin: 10px 0 0 56px;height: 170px;}
#container .conRf .box .userCenter .myContent .main .content .conL .line {position: absolute;width: 1px;height: 213px;top: 0;right: 1px;background: #d3d3d3;}
#container .conRf .box .userCenter .myContent .main .content .conL p {text-align: center;color: #000000;}
#container .conRf .box .userCenter .myContent .main .content .conL .name {font-size: 14px;padding: 9px 28px 0 28px;line-height: 23px;}
#container .conRf .box .userCenter .myContent .main .content .conR {position: relative;margin-left: 30px;}
#container .conRf .box .userCenter .myContent .main .content .conR .top {padding-top: 5px;font-size: 17px}
#container .conRf .box .userCenter .myContent .main .content .conR span {font-size: 17px;line-height: 47px;}
#container .conRf .box .userCenter .myContent .main .content .conR textarea {position: absolute;left: 120px;top: 31px;width: 477px;height: 162px;}
#container .conRf .box .userCenter .myContent .main .content .conR .cam {position: absolute;top: 214px;left: 120px;width: 54px;height: 55px;border: 1px solid #d3d3d3;line-height: 52px;text-align: center;}
#container .conRf .box .userCenter .myContent .main .content .conR .cam i {font-size: 34px;color: #909090;}
#container .conRf .box .userCenter .myContent .main .content .conR .num {position: absolute;left: 189px;top: 218px;width: 200px;}
#container .conRf .box .userCenter .myContent .main .mainBottom {position: absolute;left: 623px;top: 783px;font-size: 15px;}
#container .conRf .box .userCenter .myContent .main .mainBottom .btnSub {border: none;width: 159px;height: 30px;background: #E16811;color: #ffffff;}
#container .conRf .box .userCenter .myContent .main .mainBottom #niNing {width: 19px;height: 19px;position: relative;top: 4px;}
/*end*/
/*我的收藏*/
#container .conRf .box .userCenter .myFavour .main {position: relative;height: auto;}
#container .conRf .box .userCenter .myFavour {padding: 36px 0 80px 26px;position: relative;background: #ffffff;}
#container .conRf .box .userCenter .myFavour h3 {font-weight: bold;font-size: 16px;margin-bottom: 16px;}
#container .conRf .box .userCenter .myFavour p {position: relative;margin-bottom: 9px;}
#container .conRf .box .userCenter .myFavour p #allCheck {width: 20px;height: 20px;margin: 0;}
#container .conRf .box .userCenter .myFavour label {position: absolute;font-size: 17px;left: 28px;}
#container .conRf .box .userCenter .myFavour .main .content {width: 215px;height: 307px;margin-right: 16px;margin-bottom: 15px;border: solid 1px #d5d5d5;position: relative;overflow: hidden;}

#container .conRf .box .userCenter .myFavour .main .content .goodThumb{width: 217px;height: 217px;text-align: center;}
#container .conRf .box .userCenter .myFavour .main .content .goodThumb img {max-width: 100%;}


#container .conRf .box .userCenter .myFavour .main .content .goodName {display: block;padding: 10px 10px 0 19px;font-size: 16px;color: #000000;}
#container .conRf .box .userCenter .myFavour .main .content:hover .dele,
#container .conRf .box .userCenter .myFavour .main .content:hover .gouXuan {display: block;}
#container .conRf .box .userCenter .myFavour .main .content:hover {border: 1px #e16711 solid;}
#container .conRf .box .userCenter .myFavour .main .content:hover .addCart {display: block;}
#container .conRf .box .userCenter .myFavour .main .content h4 {font-size: 18px;color: #E16811;position: absolute;top: 285px;left: 16px}
#container .conRf .box .userCenter .myFavour .main .content .gouXuan {width: 28px;height: 28px;position: absolute;left: 2px;top: 2px;display: block;background: none;}
#container .conRf .box .userCenter .myFavour .main .content .gouXuan input {width: 25px;height: 25px;}
#container .conRf .box .userCenter .myFavour .main .content .addCart {width: 104px;height: 36px;position: absolute;left: 0;top: 149px;text-align: center;line-height: 36px;font-size: 16px;color: #ffffff;background: #e16711;display: none;cursor: pointer;}
#container .conRf .box .userCenter .myFavour .main .content .dele {position: absolute;right: 0;background: #e16711;width: 40px;height: 36px;text-align: center;line-height: 36px;display: none;cursor: pointer;}
#container .conRf .box .userCenter .myFavour .main .content .dele i {font-size: 22px;color: #ffffff;}
#container .conRf .box .userCenter .myFavour .pages .lf {display: none;/*width: 76px;height: 37px;text-align: center;background: #eeeeee;margin-right: 10px;margin-top: 15px;line-height: 35px;font-size: 18px;color: #000000;*/}
#container .conRf .box .userCenter .myFavour .pages .rf {float: left;margin-left: -12px;}
#container .conRf .box .userCenter .myFavour .pager a:hover {background: #E16811;color: #ffffff;}
#container .conRf .box .userCenter .myFavour .pager .num {width: 31px;}
#container .conRf .box .userCenter .myFavour .oneAdd {display: block;float: right;font-weight: bold;width: 219px;margin: 5px 27px 0 0;height: 55px;text-align: center;line-height: 55px;color: #ffffff;font-size: 21px;background: #E16811;cursor: pointer;}

#container .conRf .box .userCenter .myFavour .createWishlist{display: block;float: right;margin: 5px 27px 0 0;}
#container .conRf .box .userCenter .myFavour .createWishlist button{font-weight: bold;width: 219px;height: 55px;text-align: center;line-height: 55px;color: #E16811;font-size: 21px;background: #FFFFFF;cursor: pointer;border: 1px solid #E16811;outline: none;}

#container .conRf .box .userCenter .myFavour .cartFrame {z-index: 100;position: fixed;display: none;top: 50%;left: 50%;width: 500px;height: 270px;margin-left: -250px;margin-top: -135px;background: #ffffff;border: 3px #d2d2d2 solid;box-shadow: 0px 0px 13px #fffbfb;}
#container .conRf .box .userCenter .myFavour .cartFrame .cartTop {font-size: 14px;font-weight: bold;color: #ffffff;height: 30px;line-height: 30px;background: #e16811;text-indent: 10px;margin-bottom: 0;padding-right: 10px;}
#container .conRf .box .userCenter .myFavour .cartFrame .cartTop .rf {cursor: pointer;text-indent: 0px;margin-top: 6px;line-height: 18px;height: 19px;}
#container .conRf .box .userCenter .myFavour .cartFrame .cartCon {padding: 14px 0 0 25px;}
#container .conRf .box .userCenter .myFavour .cartFrame .cartCon img {width: 100px;height: 100px;}
#container .conRf .box .userCenter .myFavour .cartFrame .cartCon .conName {padding: 0px 0 0 10px;}
#container .conRf .box .userCenter .myFavour .cartFrame .cartCon .conName span {font-size: 14px}
#container .conRf .box .userCenter .myFavour .cartFrame .cartCon .name {line-height: 20px;width: 250px;font-weight: bold;margin-bottom: 4px;font-size: 16px;}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom {width: 451px;margin: 0 auto;border-top: dashed 1px saddlebrown;height: 100px;margin-top: 17px;}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .botP {padding: 13px 0 0 0;text-align: center;font-size: 15px}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .botP .botNum {font-size: 18px;font-weight: bold;}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .botP .botPrice {font-size: 18px;font-weight: bold;text-indent: 10px;}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .botP .yuan {font-size: 18px;font-weight: bold;}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .conBuy {background: #ffd9c0;margin: 6px 0 0 113px;color: #E16811;}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .lf {width: 102px;height: 33px;text-align: center;border: solid 1px #E16811;font-weight: bold;line-height: 33px;cursor: pointer;font-size: 15px}
#container .conRf .box .userCenter .myFavour .cartFrame .bottom .getList {background: #e16711;margin: 6px 0 0 9px;color: #ffffff;}
/*end*/
/*我的推荐*/
#container .conRf .box .userCenter .myIntro {padding: 36px 23px 50px 28px;background: #ffffff;}
#container .conRf .box .userCenter .myIntro .top h3 {font-weight: bold;font-size: 16px;margin-bottom: 4px;}
#container .conRf .box .userCenter .myIntro .top p {font-size: 14px;line-height: 24px;}
#container .conRf .box .userCenter .myIntro .middle {padding: 29px 0 0 0;}
#container .conRf .box .userCenter .myIntro .middle h3 {font-weight: bold;font-size: 15px;margin-bottom: 7px;}
#container .conRf .box .userCenter .myIntro .middle .table table {text-align: center;border-bottom: 1px #bbbbbb solid;border-left: 1px #bbbbbb solid;font-size: 17px;border-collapse: collapse;}
#container .conRf .box .userCenter .myIntro .middle .table .tab01 {background: #eeeeee;}
#container .conRf .box .userCenter .myIntro .middle .table .tab01 td {height: 38px;}
#container .conRf .box .userCenter .myIntro .middle .table table td {border-right: #bbbbbb 1px solid;border-top: #bbbbbb 1px solid;height: 27px;}
#container .conRf .box .userCenter .myIntro .bottom {padding: 34px 0 0 0;}
#container .conRf .box .userCenter .myIntro .bottom h3 {font-weight: bold;font-size: 15px;margin-bottom: 7px;}
#container .conRf .box .userCenter .myIntro .bottom table {border-bottom: 1px #bbbbbb solid;border-left: 1px #bbbbbb solid;border-collapse: collapse;font-size: 15px}
#container .conRf .box .userCenter .myIntro .bottom table .f6{color: #000000;}
#container .conRf .box .userCenter .myIntro .bottom table input{border: none;}
#container .conRf .box .userCenter .myIntro .bottom table td {text-align: center;height: 160px;line-height: 40px;border-right: #bbbbbb 1px solid;border-top: #bbbbbb 1px solid;}
/*end*/
/*我的评论列表*/
#container .conRf .box .userCenter .myConlist {padding: 0 25px 70px 25px;background: #ffffff;}
#container .conRf .box .userCenter .myConlist h2 {padding: 34px 0 0 0;font-size: 17px;}
#container .conRf .box .userCenter .myConlist .content {height: auto;padding-top: 13px;}
#container .conRf .box .userCenter .myConlist .content .main {height: auto;position: relative;}
#container .conRf .box .userCenter .myConlist .content hr {background: #dbdbdb;}
#container .conRf .box .userCenter .myConlist .content .head {width: 67px;height: 93px;margin: 23px 0 0 7px;}
#container .conRf .box .userCenter .myConlist .content .head img {width: 67px;height: 67px;}
#container .conRf .box .userCenter .myConlist .content .head .name {text-align: center;padding-top: 2px;}
#container .conRf .box .userCenter .myConlist .content .talk {width: 800px;margin: 20px 0 0 32px;}
#container .conRf .box .userCenter .myConlist .content .lf .comm {font-size: 17px;}
#container .conRf .box .userCenter .myConlist .content .lf .img {width: auto;height: auto;}
#container .conRf .box .userCenter .myConlist .content .lf .img a {display: block;float: left;width: 30px;height: 30px;padding: 2px;border: 1px solid transparent;}
#container .conRf .box .userCenter .myConlist .content .lf .img a:hover {border: 1px solid #e16811;}
#container .conRf .box .userCenter .myConlist .content .lf .img img {width: 100%;height: 100%;}
#container .conRf .box .userCenter .myConlist .content .lf .showImg {margin: 10px 0 0 0;width: 80px;}
#container .conRf .box .userCenter .myConlist .content .lf .showImg img{width: 150px;}
#container .conRf .box .userCenter .myConlist .content .lf .time {font-size: 14px;margin-top: 20px;color: #a4a4a4;}
#container .conRf .box .userCenter .myConlist .pager a {display: block;width: 76px;height: 37px;text-align: center;background: #eeeeee;margin-right: 10px;margin-top: 15px;line-height: 35px;font-size: 18px;color: #000000;}
#container .conRf .box .userCenter .myConlist .pager a:hover {background: #E16811;color: #ffffff;}
#container .conRf .box .userCenter .myConlist .pager .num {width: 31px;}
#container .conRf .box .userCenter .myConlist form .pages {margin-top: 20px;height: 78px;}
#container .conRf .box .userCenter .myConlist form .pages .lf {padding: 8px 0 0 0;}
#container .conRf .box .userCenter .myConlist form .pages .lf span {font-size: 18px;}
#container .conRf .box .userCenter .myConlist form .pages .pageJump a {display: block;float: left;height: 38px;border: solid 1px transparent;}
#container .conRf .box .userCenter .myConlist form .pages .pageJump a:hover {background: #e16811;color: #ffffff;cursor: pointer;}
#container .conRf .box .userCenter .myConlist form .pages .pageJump .num {color: #000000;width: 30px;line-height: 38px;margin-left: 10px;background: #eeeeee;font-size: 18px;text-align: center;}
#container .conRf .box .userCenter .myConlist form .pages .pageJump .current {color: #ffffff;background: #e16811;}
#container .conRf .box .userCenter .myConlist form .pages .pageJump .next,
#container .conRf .box .userCenter .myConlist form .pages .pageJump .previous {color: #000000;width: 73px;line-height: 38px;margin-left: 10px;background: #eeeeee;font-size: 18px;text-align: center;}
/*end*/
/*缺货登记strat*/
#container .add_booking{background: #FFFFFF;padding: 20px;}
#container .add_booking h5{font-size: 20px;line-height: 30px;margin-bottom: 20px;}
#container .add_booking table,#container .add_booking tr,#container .add_booking td{border: none;font-size: 16px;}
#container .add_booking .btn{background: #E16811;border: none;color: #FFFFFF;padding: 5px 15px;font-size: 16px;margin-right: 20px;}
#container .add_booking input{padding: 3px;}
#container .conRf .box .userCenter .outStork {background: #ffffff;padding: 0 25px;height: 548px;}
#container .conRf .box .userCenter .outStork h2 {padding-top: 36px;padding-left: 1px;font-size: 16px;}
#container .conRf .box .userCenter .outStork .botTab {margin-top: 19px;}
#container .conRf .box .userCenter .outStork .botTab table {border-collapse: collapse;text-align: center;}
#container .conRf .box .userCenter .outStork .botTab table td {border: solid 1px #c8c8c8;}
#container .conRf .box .userCenter .outStork .botTab .tab01 {margin-top: 18px;background: #eeeeee;}
#container .conRf .box .userCenter .outStork .botTab .tab01 td {height: 37px;font-size: 16px;font-weight: bold;}
#container .conRf .box .userCenter .outStork .botTab .tab02 td {height: 28px;font-size: 15px;}
#container .conRf .box .userCenter .outStork .botTab .tab02 td a {color: blue;}
#container .conRf .box .userCenter .outStork .botTab .tab02 .outName,
#container .conRf .box .userCenter .outStork .botTab .tab02 .outRem {text-align: left;text-indent: 10px;}
#container .conRf .box .userCenter .outStork .outstorkPage a {display: block;width: 76px;height: 37px;text-align: center;background: #eeeeee;margin-right: 10px;margin-top: 15px;line-height: 37px;font-size: 18px;color: #000000;}
#container .conRf .box .userCenter .outStork .outstorkPage {margin-right: -10px;margin-top: 20px;}
#container .conRf .box .userCenter .outStork .outstorkPage a:hover {background: #E16811;color: #ffffff;}
#container .conRf .box .userCenter .outStork .outstorkPage .num {width: 31px;}
#container .conRf .box .userCenter .outStork .outstorkPage .page .current {background: #E16811;color: #ffffff;}
#container .conRf .box .userCenter .outStork .pages{font-size: 15px}
.cursor-disabled:hover {cursor: not-allowed;}
/*缺货登记end*/